{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=13495%20Holly%20St,%20Thornton,%20CO%2080602&outFormat=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14745"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14745"
          ],
          "Ratelimit-Reset": [
            "1947506"
          ],
          "Etag": [
            "W/\"352-fRErp7QP2D3MllQlRUd6dVXu9p4\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"13495 Holly St, Thornton, CO 80602\"},\"locations\":[{\"street\":\"13495 Holly St\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Thornton\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Adams\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"80602-7974\",\"geocodeQualityCode\":\"L1AAA\",\"geocodeQuality\":\"ADDRESS\",\"dragPoint\":false,\"sideOfStreet\":\"L\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.93481,\"lng\":-104.92193},\"displayLatLng\":{\"lat\":39.93481,\"lng\":-104.92211},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 15:01:34 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/directions/v2/route?from=13495%20Holly%20St,%20Thornton,%20CO%2080602&key=MY_SECRET_TOKEN&outFormat=json&to=2300%20Steele%20St,%20Denver,%20CO%2080205",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14740"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14740"
          ],
          "Ratelimit-Reset": [
            "1947505"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"35f4-ydMgp2a8/xmgjiAzmlAfhadnlmM\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AIwA5wcAAAUBAAAHAAAABQAAAJ4AAAB42mOYx8DAyMTAwMCekVqUapWcG_PVQYKBgYHh5or3OVwrupNNOV-mxqyE0gxYAEzj-jc2kiB-oczxRKaaRXGmTtUuMSB6RY0LVo0gMPvxAe1zDAwMDQ4uDBwMLAoqgk0OigwKLIyNDqwNKqJODAoAQWgjR95Snnk:car\",\"realTime\":1815,\"distance\":15.1826,\"time\":1466,\"formattedTime\":\"00:24:26\",\"hasHighway\":true,\"hasTollRoad\":false,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":false,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":15.1826,\"time\":1815,\"formattedTime\":\"00:30:15\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":2.4184,\"narrative\":\"Head south on Holly St. Go for 2.4 mi.\",\"time\":231,\"direction\":4,\"directionName\":\"South\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:03:51\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.93481,\"lng\":-104.92193},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"Holly St\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.93481,-104.92193|marker-1||39.89976000000003,-104.92199000000004|marker-2||&center=39.917285000000014,-104.92196000000001&defaultMarker=none&zoom=11&session=AIwA5wcAAAUBAAAHAAAABQAAAJ4AAAB42mOYx8DAyMTAwMCekVqUapWcG_PVQYKBgYHh5or3OVwrupNNOV-mxqyE0gxYAEzj-jc2kiB-oczxRKaaRXGmTtUuMSB6RY0LVo0gMPvxAe1zDAwMDQ4uDBwMLAoqgk0OigwKLIyNDqwNKqJODAoAQWgjR95Snnk:car\"},{\"index\":1,\"distance\"[...]
