{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=10&key=37cbd27d946644b793e175556232209&q=39.87,-104.97",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/26/2023 15:01:35"
          ],
          "Cdn-Edgestorageid": [
            "1029"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "a89f62c4cb44b4fff06bbfc78aeed8cf"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Thornton\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.87,\"lon\":-104.97,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695740494,\"localtime\":\"2023-09-26 9:01\"},\"current\":{\"last_updated_epoch\":1695740400,\"last_updated\":\"2023-09-26 09:00\",\"temp_c\":15.0,\"temp_f\":59.0,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":2.2,\"wind_kph\":3.6,\"wind_degree\":10,\"wind_dir\":\"N\",\"pressure_mb\":1025.0,\"pressure_in\":30.28,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":29,\"cloud\":0,\"feelslike_c\":15.7,\"feelslike_f\":60.2,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":5.0,\"gust_mph\":3.1,\"gust_kph\":5.0},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-26\",\"date_epoch\":1695686400,\"day\":{\"maxtemp_c\":29.8,\"maxtemp_f\":85.6,\"mintemp_c\":11.6,\"mintemp_f\":52.9,\"avgtemp_c\":21.6,\"avgtemp_f\":70.8,\"maxwind_mph\":7.4,\"maxwind_kph\":11.9,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":25.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":6.0},\"astro\":{\"sunrise\":\"06:51 AM\",\"sunset\":\"06:50 PM\",\"moonrise\":\"05:46 PM\",\"moonset\":\"03:11 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"84\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695708000,\"time\":\"2023-09-26 00:00\",\"temp_c\":17.1,\"temp_f\":62.8,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.5,\"wind_kph\":4.0,\"wind_degree\":262,\"wind_dir\":\"W\",\"pressure_mb\":1019.0,\"pressure_in\":30.08,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":34,\"cloud\":0,\"feelslike_c\":17.1,\"feelslike_f\":62.8,\"windchill_c\":17.1,\"windchill_f\":62.8,\"heatindex_c\":17.1,\"heatindex_f\":62.8,\"dewpoint_c\":1.4,\"dewpoint_f\":34.4,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":5.2,\"gust_kph\":8.3,\"uv\":1.0},{\"time_epoch\":1695711600,\"time\":\"2023-09-26 01:00\",\"temp_c\":17.7,\"temp_f\":63.8,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":3.4,\"wind_kph\":5.4,\"wind_degree\":273,\"wind_dir\":\"W\",\"pressure_mb\":1017.0,\"pressure_in\":30.02,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":27,\"cloud\":0,\"feelslike_c\":17.7,\"[...]
[...]
