{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=4&q=Denver,%20Colorado",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.043 TT 0 0.044\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 3720,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL4140051W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL12173857M\",\n                \"/works/OL4140051W\",\n                \"/authors/OL778604A\"\n            ],\n            \"title\": \"Denver, Colorado\",\n            \"title_suggest\": \"Denver, Colorado\",\n            \"title_sort\": \"Denver, Colorado\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL12173857M\"\n            ],\n            \"publish_date\": [\n                \"July 1, 2007\"\n            ],\n            \"publish_year\": [\n                2007\n            ],\n            \"first_publish_year\": 2007,\n            \"number_of_pages_median\": 128,\n            \"oclc\": [\n                \"173515035\"\n            ],\n            \"contributor\": [\n                \"Twin Lights Publishers (Editor)\"\n            ],\n            \"isbn\": [\n                \"1885435711\",\n                \"9781885435712\"\n            ],\n            \"last_modified_i\": 1670441347,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"cover_edition_key\": \"OL12173857M\",\n            \"cover_i\": 3027166,\n            \"publisher\": [\n                \"Twin Lights Publishers\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL778604A\"\n            ],\n            \"author_name\": [\n                \"John Kieffer\"\n            ],\n            \"id_goodreads\": [\n                \"5943105\"\n            ],\n            \"publisher_facet\": [\n                \"Twin Lights Publishers\"\n            ],\n            \"_version_\": 1767935091647971328,\n            \"author_facet\": [\n                \"OL778604A John Kieffer\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL12226054W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL17704674M\",\n                \"/books/OL17597366M\",\n                \"/works/OL12226054W\",\n                \"/subjects/sick_building_syndrome\",\n                \"/subjects/indoor_air_pollution\",\n                \"/subjects/place:colorado\",\n                \"/subjects/place:denver\",\n                \"/authors/OL5326196A\"\n            ],\n            \"title\": \"The Children's Hospital of Denver, Denver, Colorado\",\n            \"title_suggest\": \"The Children's Hospital of Denver, Denver, Colorado\",\n            \"title_sort\": \"The Children's Hospital of Denver, Denver, Colorado\",\n            \"edition_count\": 2,\n            \"edition_key\": [\n                \"OL17704674M\",\n                \"OL17597366M\"\n            ],\n            \"publish_date\": [\n                \"2000\"\n            ],\n            \"publish_year\": [\n                2000\n            ],\n            \"first_publish_year\": 2000,\n            \"publish_place\": [\n                \"[Springfield, Va\",\n                \"[Atlanta, Ga.?]\"\n            ],\n            \"oclc\": [\n                \"45549123\"\n            ],\n            \"contributor\": [\n                \"National Institute for Occupational Safety and Health.\"\n            ],\n            \"last_modified_i\": 1264189155,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"National Technical Information Service, distributor\",\n                \"U.S. Dept. of Health and Human Services, Public Health Service, Centers for Disease Control and Prevention, National Institute for Occupational Safety and Health\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL5326196A\"\n            ],\n            \"author_name\": [\n                \"Lisa J. Delaney\"\n            ],\n            \"place\": [\n                \"Colorado\",\n                \"Denver\"\n            ],\n            \"subject\": [\n                \"Sick building syndrome\",\n                \"Indoor air pollution\"\n            ],\n            \"publisher_facet\": [\n                \"National Technical Information Service, distributor\",\n                \"U.S. Dept. of Health and Human Services, Public Health Service, Centers for Disease Control and Prevention, National Institute for Occupational Safety and Health\"\n            ],\n            \"place_key\": [\n                \"colorado\",\n                \"denver\"\n            ],\n            \"subject_facet\": [\n                \"Indoor air pollution\",\n                \"Sick building syndrome\"\n            ],\n            \"_version_\": 1767894231768104961,\n            \"place_facet\": [\n                \"Colorado\",\n                \"Denver\"\n            ],\n            \"author_facet\": [\n                \"OL5326196A Lisa J. Delaney\"\n            ],\n            \"subject_key\": [\n                \"indoor_air_pollution\",\n                \"sick_building_syndrome\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL11524052W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL15315118M\",\n                \"/works/OL11524052W\",\n                \"/subjects/sick_building_syndrome\",\n                \"/subjects/indoor_air_pollution\",\n                \"/subjects/place:colorado\",\n                \"/subjects/pl[...]
