{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=Chicago,IL&outFormat=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14726"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14726"
          ],
          "Ratelimit-Reset": [
            "1946990"
          ],
          "Etag": [
            "W/\"31b-eBOtC6qXevQ8soLhHWJE891+Hr0\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Chicago,IL\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Chicago\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Cook\",\"adminArea4Type\":\"County\",\"adminArea3\":\"IL\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":41.88425,\"lng\":-87.63245},\"displayLatLng\":{\"lat\":41.88425,\"lng\":-87.63245},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 15:10:11 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/directions/v2/route?from=Cincinatti,OH&key=MY_SECRET_TOKEN&outFormat=json&to=Chicago,IL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14724"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14724"
          ],
          "Ratelimit-Reset": [
            "1946989"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"54c2-RE5qxIMJoxDYrAk9Pt1Arn/OQ6w\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AKYA5wcAAAUBAAAHAAAABQAAALsAAAB42mPYzcDAyMTAwMCekVqUapWcG2H_TpyBgYFBb-HeFi7puhfOUTbnoz_WvnDOtzkfzYAFwDQmS-2SBvG3tmcuY7j8f51j2-kTsTP-r3NsPX0ilgEHsGK-J7aDkYGBIZCRyWWFQKtHgEITCwMDA0iIwYGBg4GVgUEAqpYRSisxMDAINAQlnrjgBQBUXChD8VsU5w:car\",\"realTime\":16705,\"distance\":296.4873,\"time\":15722,\"formattedTime\":\"04:22:02\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":true,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":true,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":296.4873,\"time\":16705,\"formattedTime\":\"04:38:25\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.2293,\"narrative\":\"Head toward Broadway St on Gilbert Ave (US-22). Go for 0.2 mi.\",\"time\":30,\"direction\":6,\"directionName\":\"Southwest\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:30\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.107132,\"lng\":-84.504134},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"US-22\",\"OH-3\",\"Gilbert Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.107132,-84.504134|marker-1||39.10536000000002,-84.50725|marker-2||&center=39.10624600000001,-84.505692&defaultMarker=none&zoom=15&session=AKYA5wcAAAUBAAAHAAAABQAAALsAAAB42mPYzcDAyMTAwMCekVqUapWcG2H_TpyBgYFBb-HeFi7puhfOUTbnoz_WvnDOtzkfzYAFwDQmS-2SBvG3tmcuY7j8f51j2-kTsTP-r3NsPX0ilgEHsGK-J7aDkYGBIZCRyWWFQKtHgEITCwMDA0iIwYGBg4GVgUEAqpYRSisxMDAINAQlnrjgBQBUXChD8[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days%5Bdays%5D=1&key=37cbd27d946644b793e175556232209&q=Chicago,IL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/26/2023 15:10:07"
          ],
          "Cdn-Edgestorageid": [
            "941"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "7ed2606194e8a5835522390aab9ad6f9"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Chicago\",\"region\":\"Illinois\",\"country\":\"United States of America\",\"lat\":41.85,\"lon\":-87.65,\"tz_id\":\"America/Chicago\",\"localtime_epoch\":1695741005,\"localtime\":\"2023-09-26 10:10\"},\"current\":{\"last_updated_epoch\":1695740400,\"last_updated\":\"2023-09-26 10:00\",\"temp_c\":17.8,\"temp_f\":64.0,\"is_day\":1,\"condition\":{\"text\":\"Patchy light rain with thunder\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/386.png\",\"code\":1273},\"wind_mph\":9.4,\"wind_kph\":15.1,\"wind_degree\":80,\"wind_dir\":\"E\",\"pressure_mb\":1020.0,\"pressure_in\":30.11,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":93,\"cloud\":100,\"feelslike_c\":17.8,\"feelslike_f\":64.0,\"vis_km\":6.4,\"vis_miles\":3.0,\"uv\":5.0,\"gust_mph\":7.0,\"gust_kph\":11.3},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-26\",\"date_epoch\":1695686400,\"day\":{\"maxtemp_c\":20.3,\"maxtemp_f\":68.5,\"mintemp_c\":17.2,\"mintemp_f\":63.0,\"avgtemp_c\":18.7,\"avgtemp_f\":65.6,\"maxwind_mph\":11.0,\"maxwind_kph\":17.6,\"totalprecip_mm\":5.09,\"totalprecip_in\":0.2,\"totalsnow_cm\":0.0,\"avgvis_km\":9.2,\"avgvis_miles\":5.0,\"avghumidity\":84.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":88,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Moderate rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/302.png\",\"code\":1189},\"uv\":4.0},\"astro\":{\"sunrise\":\"06:42 AM\",\"sunset\":\"06:41 PM\",\"moonrise\":\"05:40 PM\",\"moonset\":\"02:52 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"84\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695704400,\"time\":\"2023-09-26 00:00\",\"temp_c\":19.2,\"temp_f\":66.5,\"is_day\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/176.png\",\"code\":1063},\"wind_mph\":8.5,\"wind_kph\":13.7,\"wind_degree\":134,\"wind_dir\":\"SE\",\"pressure_mb\":1020.0,\"pressure_in\":30.11,\"precip_mm\":0.05,\"precip_in\":0.0,\"humidity\":81,\"cloud\":77,\"feelslike_c\":19.2,\"feelslike_f\":66.5,\"windchill_c\":19.2,\"windchill_f\":66.5,\"heatindex_c\":19.2,\"heatindex_f\":66.5,\"dewpoint_c\":15.9,\"dewpoint_f\":60.6,\"will_it_rain\":1,\"chance_of_rain\":80,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":14.5,\"gust_kph\":23.3,\"uv\":1.0},{\"time_epoch\":1695708000,\"time\":\"2023-09-26 01:00\",\"temp_c\":18.9,\"temp_f\":66.0,\"is_day\":0,\"condition\":{\"text\":\"Cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/119.png\",\"code\":1006},\"wind_mph\":8.1,\"wind_kph\":13.0,\"wind_degree\":137,\"wind_dir\":\"SE\",\"pressure_mb\":1022.0,\"pressure_in\":30.17,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":88,\"cloud\":80,\"feelslike_c\":1[...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=Los%20Angeles,%20CA&outFormat=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
  [...]
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=MY_SECRET_TOKEN&outFormat=json&to=Los%20Angeles,%20CA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        [...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days%5Bdays%5D=1&key=37cbd27d946644b793e175556232209&q=Los%20Angeles,%20CA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers"[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=3&key=37cbd27d946644b793e175556232209&q=Los%20Angeles,%20CA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
      [...]
[...]
