{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=cincinatti,oh&outFormat=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14771"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14771"
          ],
          "Ratelimit-Reset": [
            "1947514"
          ],
          "Etag": [
            "W/\"325-eZRZRCvQGlForGDfSV0TLb4ko9M\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"cincinatti,oh\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Cincinnati\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Hamilton\",\"adminArea4Type\":\"County\",\"adminArea3\":\"OH\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XBX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.10713,\"lng\":-84.50413},\"displayLatLng\":{\"lat\":39.10713,\"lng\":-84.50413},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 15:01:27 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=37cbd27d946644b793e175556232209&q=39.10713,-84.50413",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/26/2023 15:22:45"
          ],
          "Cdn-Edgestorageid": [
            "1029"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "d87c20a2a1b5ef7d377c778e73747809"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Newport\",\"region\":\"Kentucky\",\"country\":\"United States of America\",\"lat\":39.11,\"lon\":-84.5,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695741763,\"localtime\":\"2023-09-26 11:22\"},\"current\":{\"last_updated_epoch\":1695741300,\"last_updated\":\"2023-09-26 11:15\",\"temp_c\":22.8,\"temp_f\":73.0,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":2.2,\"wind_kph\":3.6,\"wind_degree\":10,\"wind_dir\":\"N\",\"pressure_mb\":1022.0,\"pressure_in\":30.18,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":66,\"cloud\":0,\"feelslike_c\":24.8,\"feelslike_f\":76.7,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":6.0,\"gust_mph\":3.6,\"gust_kph\":5.8},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-26\",\"date_epoch\":1695686400,\"day\":{\"maxtemp_c\":28.3,\"maxtemp_f\":82.9,\"mintemp_c\":15.5,\"mintemp_f\":59.9,\"avgtemp_c\":21.3,\"avgtemp_f\":70.4,\"maxwind_mph\":4.5,\"maxwind_kph\":7.2,\"totalprecip_mm\":0.32,\"totalprecip_in\":0.01,\"totalsnow_cm\":0.0,\"avgvis_km\":9.6,\"avgvis_miles\":5.0,\"avghumidity\":68.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":77,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/176.png\",\"code\":1063},\"uv\":5.0},\"astro\":{\"sunrise\":\"07:29 AM\",\"sunset\":\"07:29 PM\",\"moonrise\":\"06:20 PM\",\"moonset\":\"03:46 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"84\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695700800,\"time\":\"2023-09-26 00:00\",\"temp_c\":19.8,\"temp_f\":67.7,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":4.5,\"wind_kph\":7.2,\"wind_degree\":91,\"wind_dir\":\"E\",\"pressure_mb\":1020.0,\"pressure_in\":30.12,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":74,\"cloud\":43,\"feelslike_c\":19.8,\"feelslike_f\":67.7,\"windchill_c\":19.8,\"windchill_f\":67.7,\"heatindex_c\":19.8,\"heatindex_f\":67.7,\"dewpoint_c\":15.1,\"dewpoint_f\":59.1,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":7.4,\"gust_kph\":11.9,\"uv\":1.0},{\"time_epoch\":1695704400,\"time\":\"2023-09-26 01:00\",\"temp_c\":19.3,\"temp_f\":66.7,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":4.3,\"wind_kph\":6.8,\"wind_degree\":86,\"wind_dir\":\"E\",\"pressure_mb\":1020.0,\"pressure_in\":30.12,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":77,\"cloud\":43,\"feelslike_c\[...]
[...]
