{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=Cancun,%20Mexico&outFormat=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14696"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14696"
          ],
          "Ratelimit-Reset": [
            "1945182"
          ],
          "Etag": [
            "W/\"31d-0XLSS118+PdC7jY57+OZ+m58Gy4\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Cancun, Mexico\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Cancún\",\"adminArea5Type\":\"City\",\"adminArea4\":\"\",\"adminArea4Type\":\"County\",\"adminArea3\":\"QRoo\",\"adminArea3Type\":\"State\",\"adminArea1\":\"MX\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":21.13245,\"lng\":-86.84893},\"displayLatLng\":{\"lat\":21.13245,\"lng\":-86.84893},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 26 Sep 2023 15:40:18 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://www.mapquestapi.com/directions/v2/route?from=Cincinatti,OH&key=MY_SECRET_TOKEN&outFormat=json&to=Cancun,%20Mexico",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14692"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14692"
          ],
          "Ratelimit-Reset": [
            "1945180"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"2f32f-vDG4fBG/C922iy4LF/LdD/FJ1m8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AKEC5wcAAAUBAAAHAAAABQAAAPUDAAB42nWTwYscRRTGf1Wpdd909vCmGXAhlzdLHyZBNLmIhARrOrOySmB3wUMwHhZMQA9B8a5UDyOMS9Be2NxnB8EgHjx6ETyI1_wbOQki4kmQ6p1xRfQduqv7Vb33fd_7it8v4Tyw-f7Djx_efO_Rvdd_eRHg5bMfZsWVT5_feefWs_u_fvL8zoe3nt3nP2J98Ld7L23n79c2XvnaN8vb9ePLm_vfLm_XX17e3Od_4o-bX_zZXAGuP3J-8lQ_2zMgAAk3B1tvlNW7r4Drlik_PCSf3EXF-b9byNEw8wvlKDxwgQl1edgWEYo-o5H4q7Z17NWOc4vgbadFOYp9HM1MA-zqBmy0HSiCeE9RucXBRkMpbdbOv8A87n0n58CimNVpWxmjKuAGThdyqozVVVgqI6QITOPYHrNXlAcya5G5WBPnkAYSB2u6CVTWXJPx1XGg6o_pqy8NamfEaowd5X1LPUXLJx_s7sgDQYKFCHpqT1ji9vT61uLtQwnzN0E_-vkuRN0iCTNK-4dc71YF-lRi1YuNCbFwO9a4VHTJYcwayWxyGC5OJKar1Zih15pp9JFEDzRnjRTVERcC-2O-h5wCsrrm85C9735YCApNN3XrQZr40BX5JgtSH0MpoeckedAWzLxVCU0Mt7NrUsqbHQOn3rPbMmWUzLQw06ygd8mHE6kh3B3ccC6T4fPSvVE1K52ta2cycpirL-xHFGLnpresM5vFc8jYQR7MuRMvZYdMYr8HubhlTHWISPjbtI5FaDU5gkw4GTYTWXk7Gq8Gt0aQo51eu3pimWupFnewH5ng4up-YOrVI5odn8nZXCVIExMWJTgXsyA3OkyOs5mdmcpPoTpIEq8t-Qufm4BCbzB-7A:car\",\"realTime\":177172,\"distance\":2810.2214,\"time\":171079,\"formattedTime\":\"47:31:19\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":true,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":true,\"hasTimedRestriction\":false,\"distance\":2810.2214,\"time\":177172,\"formattedTime\":\"49:12:52\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.2293,\"narrative\":\"Head toward Broadway St on Gilbert Ave (US-22). Go for 0.2 mi.\",\"time\":40,\"direction\":6,\"directionName\":\"Southwest\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:40\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.107132,\"lng\":-84.504134},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"US-22\",\"OH-3\",\"Gilbert Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.107132,-84.504134|marker-1||39.10536000000002,-84.50725|marker-2||&center=39.10624600000001,-84.505692&defaultMarker=none&zoom=15&session=AKEC5wcAAAUBAAAHAAAABQAAAPUDAAB42nWTwYscRRTGf1Wpdd909vCmGXAhlzdLHyZBNLmIhARrOrOySmB3wUMwHhZMQA9B8a5UDyOMS9Be2NxnB8EgHjx6ETyI1_wbOQki4kmQ6p1xRfQduqv7Vb33fd_7it8v4Tyw-f7Djx_efO_Rvdd_eRHg5bMfZsWVT5_feefWs_u_fvL8zoe3nt3nP2J98[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days%5Bdays%5D=2&key=37cbd27d946644b793e175556232209&q=Cancun,%20Mexico",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/26/2023 15:40:21"
          ],
          "Cdn-Edgestorageid": [
            "871"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "07b57da6636c086a7cf216fc2fe2a34e"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Cancun\",\"region\":\"Quintana Roo\",\"country\":\"Mexico\",\"lat\":21.17,\"lon\":-86.85,\"tz_id\":\"America/Cancun\",\"localtime_epoch\":1695742819,\"localtime\":\"2023-09-26 10:40\"},\"current\":{\"last_updated_epoch\":1695742200,\"last_updated\":\"2023-09-26 10:30\",\"temp_c\":30.0,\"temp_f\":86.0,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":5.6,\"wind_kph\":9.0,\"wind_degree\":120,\"wind_dir\":\"ESE\",\"pressure_mb\":1015.0,\"pressure_in\":29.98,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":75,\"cloud\":75,\"feelslike_c\":39.1,\"feelslike_f\":102.3,\"vis_km\":11.0,\"vis_miles\":6.0,\"uv\":6.0,\"gust_mph\":8.9,\"gust_kph\":14.3},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-26\",\"date_epoch\":1695686400,\"day\":{\"maxtemp_c\":31.1,\"maxtemp_f\":88.0,\"mintemp_c\":26.5,\"mintemp_f\":79.6,\"avgtemp_c\":28.2,\"avgtemp_f\":82.8,\"maxwind_mph\":9.2,\"maxwind_kph\":14.8,\"totalprecip_mm\":4.45,\"totalprecip_in\":0.18,\"totalsnow_cm\":0.0,\"avgvis_km\":9.6,\"avgvis_miles\":5.0,\"avghumidity\":81.0,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":89,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/176.png\",\"code\":1063},\"uv\":6.0},\"astro\":{\"sunrise\":\"06:37 AM\",\"sunset\":\"06:40 PM\",\"moonrise\":\"05:01 PM\",\"moonset\":\"03:33 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"84\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695704400,\"time\":\"2023-09-26 00:00\",\"temp_c\":26.7,\"temp_f\":80.1,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":6.5,\"wind_kph\":10.4,\"wind_degree\":116,\"wind_dir\":\"ESE\",\"pressure_mb\":1014.0,\"pressure_in\":29.95,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":88,\"cloud\":27,\"feelslike_c\":30.9,\"feelslike_f\":87.5,\"windchill_c\":26.8,\"windchill_f\":80.2,\"heatindex_c\":30.9,\"heatindex_f\":87.5,\"dewpoint_c\":24.7,\"dewpoint_f\":76.4,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":11.8,\"gust_kph\":19.0,\"uv\":1.0},{\"time_epoch\":1695708000,\"time\":\"2023-09-26 01:00\",\"temp_c\":28.1,\"temp_f\":82.6,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":5.8,\"wind_kph\":9.4,\"wind_degree\":120,\"wind_dir\":\"ESE\",\"pressure_mb\":1015.0,\"pressure_in\":29.97,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":78,\"cloud\":45,\"feelslik[...]
